
.item {
  background: #fff;
  cursor: pointer;
  height: auto;
  margin: 0;
  min-height: 47px;
  opacity: 1;
  padding: 11px 25px 10px 70px;
  position: relative;
  transition: opacity, background-color $animation-speed ease;
  img {
    height: 34px;
    left: 15px;
    position: absolute;
    top: 17px;
    width: 34px;
  }
  [type="range"] {
    display: none;
    margin: 0;
    width: 100%;
  }
  .title {
    display: block;
    font-size: 1.1em;
    margin-bottom: 9px;
    margin-right: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: margin $animation-speed ease;
    white-space: nowrap;
  }
  &.paused {
    img,
    .title,
    input {
      opacity: .7;
    }
  }
  &.playing {
    color: #fff;
    [type=range] {
      display: block;
    }
  }
}

:root {
  --volumeColor: white;
}

[type=range] {
  -webkit-appearance: none;
  margin: 7px 0;
  width: 100%;
  &:focus {
    outline: none;
    &::-webkit-slider-runnable-track {
      background: var(--volumeColor);
    }
    &::-ms-fill-lower {
      background: var(--volumeColor);
    }
    &::-ms-fill-upper {
      background: var(--volumeColor);
    }
  }
  &::-webkit-slider-runnable-track {
    background: var(--volumeColor);
    cursor: pointer;
    height: 2px;
    width: 100%;
  }
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: var(--volumeColor);
    cursor: pointer;
    height: 14px;
    margin-top: -6px;
    width: 3px;
  }
  &::-moz-range-track {
    background: var(--volumeColor);
    cursor: pointer;
    height: 3px;
    width: 100%;
  }
  &::-moz-range-thumb {
    background: var(--volumeColor);
    cursor: pointer;
    height: 17px;
    width: 5px;
  }
  &::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
    cursor: pointer;
    height: 3px;
    width: 100%;
  }
  &::-ms-fill-lower {
    background: var(--volumeColor);
  }
  &::-ms-fill-upper {
    background: var(--volumeColor);
  }
  &::-ms-thumb {
    background: var(--volumeColor);
    border: 0 solid var(--volumeColor);
    cursor: pointer;
    height: 3px;
    width: 5px;
  }
}
